{
  "swagger": "2.0",
  "info": {
    "title": "API",
    "description": "API allows you to interact directly the merchandising system",
    "version": "1.0.0"
  },
  "host": "api.com",
  "produces": [
    "application/json"
  ],
  "basePath": "/",
  "securityDefinitions": {
    "jwt": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "authenticates a user a returns an access token",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "email and password",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginParams"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful authentication",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "description": "authorization token for subsequent calls"
                }
              }
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Users"
        ],
        "summary": "get user list",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The number of resources by page. Default value is 20. Must be an integer",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number of result set. Must be an integer",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "user list",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/User"
                  },
                  "maxItems": 20
                },
                "meta": {
                  "$ref": "#/definitions/PaginationMeta"
                }
              }
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Users"
        ],
        "summary": "creates a user",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "user data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUser"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "user created",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/users/{id}": {
      "patch": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "update a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the user id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "user data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "the updated user",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "get a user by id.",
        "description": "get a user by id",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the user id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "the user with the given id",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/saleschannels": {
      "get": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Sales Channels"
        ],
        "summary": "get list of sales channels",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The number of resources by page. Default value is 20. Must be an integer",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number of result set. Must be an integer",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "list of sales channels",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SalesChannel"
                  },
                  "maxItems": 20
                },
                "meta": {
                  "$ref": "#/definitions/PaginationMeta"
                }
              }
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Sales Channels"
        ],
        "summary": "creates a sales channel",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "sales channel data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalesChannel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "sales channel created",
            "schema": {
              "$ref": "#/definitions/SalesChannel"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/saleschannels/{id}": {
      "patch": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "update a sales channel",
        "tags": [
          "Sales Channels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the sales channel id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "sales channel data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalesChannel"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "the updated sales channel",
            "schema": {
              "$ref": "#/definitions/SalesChannel"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "summary": "get a sales channel by id.",
        "tags": [
          "Sales Channels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the sales channel id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "the sales channel with the given id",
            "schema": {
              "$ref": "#/definitions/SalesChannel"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Products"
        ],
        "summary": "get list of products",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The number of resources by page. Default value is 20. Must be an integer",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number of result set. Must be an integer",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "list of products",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Product"
                  },
                  "maxItems": 20
                },
                "meta": {
                  "$ref": "#/definitions/PaginationMeta"
                }
              }
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Products"
        ],
        "summary": "creates a product",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "product data",
            "required": true,
            "schema": {
              "title": "Product",
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64"
                },
                "name": {
                  "type": "string"
                },
                "img": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "disabled": {
                  "type": "boolean"
                },
                "defaultItemId": {
                  "type": "integer"
                },
                "optionGroups": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ProductOptionGroup"
                  }
                },
                "optionItems": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ProductOptionItem"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "product created",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/products/{id}": {
      "patch": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "update a product",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the product id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "product data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "the updated product",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "get a product by id.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the product id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "the product with the given id",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "delete a product by id.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the product id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "successful deletion"
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "summary": "get list of orders",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The number of resources by page. Default value is 20. Must be an integer",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number of result set. Must be an integer",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "list of products",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Order"
                  },
                  "maxItems": 20
                },
                "meta": {
                  "$ref": "#/definitions/PaginationMeta"
                }
              }
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "creates an order",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "order data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "order created",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "patch": {
        "summary": "update a order",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the order id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "order data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "the updated order",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "summary": "get a order by id.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the order id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "the order with the given id",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "delete a order by id.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the order id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "successful deletion"
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/catalogs": {
      "get": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Catalogs"
        ],
        "summary": "get collection of catalogs",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The number of resources by page. Default value is 20. Must be an integer",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number of result set. Must be an integer",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "collection of catalogs",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Catalog"
                  },
                  "maxItems": 20
                },
                "meta": {
                  "$ref": "#/definitions/PaginationMeta"
                }
              }
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Catalogs"
        ],
        "summary": "creates a catalog",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "catalog data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "catalog created",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/catalogs/{id}": {
      "patch": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "updates a catalog",
        "tags": [
          "Catalogs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the catalog id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "catalog data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "the updated catalog",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "summary": "get a catalog by id.",
        "tags": [
          "Catalogs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the catalog id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "the catalog with the given id",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "delete a catalog by id.",
        "tags": [
          "Catalogs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the catalog id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "successful deletion"
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/catalogs/{id}/items": {
      "patch": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "adds one item to the catalog",
        "tags": [
          "Catalogs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the catalog id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "item data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "the updated catalog",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/catalogs/{id}/items/{itemId}": {
      "delete": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "removes an item from the catalog by id.",
        "tags": [
          "Catalogs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the catalog id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "the item id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "successful deletion"
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pricelists": {
      "get": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Price Lists"
        ],
        "summary": "get collection of price lists",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The number of resources by page. Default value is 20. Must be an integer",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number of result set. Must be an integer",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "collection of price lists",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PriceList"
                  },
                  "maxItems": 20
                },
                "meta": {
                  "$ref": "#/definitions/PaginationMeta"
                }
              }
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Price Lists"
        ],
        "summary": "creates a price list",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "price list data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePriceList"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "price list created",
            "schema": {
              "$ref": "#/definitions/PriceList"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pricelists/{id}": {
      "patch": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "updates a price list",
        "tags": [
          "Price Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the price list id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "catalog data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePriceList"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "the updated price list",
            "schema": {
              "$ref": "#/definitions/PriceList"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "summary": "get a price list by id.",
        "tags": [
          "Price Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the price list id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "the price list with the given id",
            "schema": {
              "$ref": "#/definitions/PriceList"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "delete a price list by id.",
        "tags": [
          "Price Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the price list id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "successful deletion"
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pricelists/{id}/items": {
      "patch": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "adds one item to the price list",
        "tags": [
          "Price Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the price list id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "item price data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ItemPriceData"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "the updated price list",
            "schema": {
              "$ref": "#/definitions/PriceList"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pricelists/{id}/items/{itemId}": {
      "delete": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "removes an item from the price list by id.",
        "tags": [
          "Price Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the price list id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "the item id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "successful deletion"
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/items": {
      "get": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Items"
        ],
        "summary": "get collection of items",
        "parameters": [
          {
            "in": "query",
            "name": "productId",
            "description": "The product Id",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of resources by page. Default value is 20. Must be an integer",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number of result set. Must be an integer",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "collection of items",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Item"
                  },
                  "maxItems": 20
                },
                "meta": {
                  "$ref": "#/definitions/PaginationMeta"
                }
              }
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Items"
        ],
        "summary": "creates a item",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "item data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "item created",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/items/{id}": {
      "patch": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "updates a item",
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the item id.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "item data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "the updated item",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "summary": "get a item by id.",
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the item id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "the item with the given id",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "delete a item by id.",
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the item id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "successful deletion"
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/appdata/{salesChannelId}": {
      "get": {
        "summary": "provide all config data the front end app needs",
        "tags": [
          "AppData"
        ],
        "parameters": [
          {
            "name": "salesChannelId",
            "in": "path",
            "description": "the sales channel numeric id or subdomain string.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "the application data",
            "schema": {
              "$ref": "#/definitions/AppData"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/taxrate": {
      "get": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Tax Rates"
        ],
        "summary": "collection of taxrates",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "The number of resources by page. Default value is 20. Must be an integer",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number of result set. Must be an integer",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "collection of taxrates",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TaxRate"
                  },
                  "maxItems": 20
                },
                "meta": {
                  "$ref": "#/definitions/PaginationMeta"
                }
              }
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "jwt": []
          }
        ],
        "tags": [
          "Tax Rates"
        ],
        "summary": "create taxrate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "taxrate data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaxRate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "taxrate created",
            "schema": {
              "$ref": "#/definitions/TaxRate"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/taxrate/{zipcode}": {
      "get": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "taxrate by zipcode",
        "tags": [
          "Tax Rates"
        ],
        "parameters": [
          {
            "name": "zipcode",
            "in": "path",
            "description": "taxrate zipcode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "the taxrate",
            "schema": {
              "$ref": "#/definitions/TaxRate"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "update taxrate",
        "tags": [
          "Tax Rates"
        ],
        "parameters": [
          {
            "name": "zipcode",
            "in": "path",
            "description": "taxrate zipcode",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "taxrate data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaxRate"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "the updated taxrate",
            "schema": {
              "$ref": "#/definitions/TaxRate"
            }
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "jwt": []
          }
        ],
        "summary": "delete taxrate.",
        "tags": [
          "Tax Rates"
        ],
        "parameters": [
          {
            "name": "zipcode",
            "in": "path",
            "description": "taxrate zipcode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "successful deletion"
          },
          "default": {
            "description": "server error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AppData": {
      "title": "AppData",
      "type": "object",
      "properties": {
        "appConfig": {
          "$ref": "#/definitions/AppConfig"
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AppDataProduct"
          }
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AppDataItem"
          }
        },
        "taxRates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaxRate"
          }
        }
      }
    },
    "AppConfig": {
      "title": "Sales Channel Config",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "allowPickup": {
          "type": "boolean"
        },
        "allowShip": {
          "type": "boolean"
        },
        "web": {
          "type": "boolean"
        },
        "store": {
          "type": "boolean"
        },
        "disabled": {
          "type": "boolean"
        },
        "subdomain": {
          "type": "string"
        }
      }
    },
    "TaxRate": {
      "title": "taxrate",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "zipcode": {
          "type": "string"
        },
        "tax": {
          "type": "number",
          "format": "float",
          "default": 0
        },
        "disabled": {
          "type": "boolean",
          "default": false
        }
      }
    },
    "AppDataItem": {
      "title": "Item",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "productId": {
          "type": "integer",
          "format": "int64"
        },
        "sku": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "price": {
          "type": "number",
          "format": "int64"
        },
        "disabled": {
          "type": "boolean"
        },
        "preview": {
          "$ref": "#/definitions/ItemPreview"
        },
        "editor": {
          "$ref": "#/definitions/ItemEditor"
        }
      }
    },
    "AppDataProduct": {
      "title": "Product",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "img": {
          "type": "string"
        },
        "disabled": {
          "type": "boolean"
        },
        "defaultItemId": {
          "type": "integer"
        },
        "optionGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductOptionGroup"
          }
        },
        "optionItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductOptionItem"
          }
        }
      }
    },
    "Product": {
      "title": "Product",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "img": {
          "type": "string"
        },
        "disabled": {
          "type": "boolean"
        },
        "defaultItemId": {
          "type": "integer"
        },
        "optionGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductOptionGroup"
          }
        },
        "optionItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductOptionItem"
          }
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      }
    },
    "Item": {
      "title": "Item",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "productId": {
          "type": "integer",
          "format": "int64"
        },
        "sku": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "defaultPrice": {
          "type": "number",
          "format": "int64"
        },
        "disabled": {
          "type": "boolean"
        },
        "preview": {
          "$ref": "#/definitions/ItemPreview"
        },
        "editor": {
          "$ref": "#/definitions/ItemEditor"
        }
      }
    },
    "ItemPreview": {
      "title": "ItemPreview",
      "type": "object",
      "properties": {
        "img": {
          "type": "string"
        },
        "x": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        },
        "y": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        },
        "width": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        },
        "height": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      }
    },
    "ItemEditor": {
      "title": "ItemEditor",
      "type": "object",
      "properties": {
        "orientation": {
          "type": "string",
          "default": "portrait"
        },
        "border": {
          "type": "number",
          "format": "float",
          "minimum": 0,
          "default": 0
        },
        "width": {
          "type": "number",
          "format": "float",
          "minimum": 0,
          "default": 0
        },
        "height": {
          "type": "number",
          "format": "float",
          "minimum": 0,
          "default": 0
        },
        "bandHeight": {
          "type": "number",
          "format": "float",
          "minimum": 0,
          "default": 0
        },
        "textSize": {
          "type": "number",
          "format": "float",
          "minimum": 0,
          "default": 0
        }
      }
    },
    "ProductOptionGroup": {
      "title": "Item",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "position": {
          "type": "integer",
          "format": "int64"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "ProductOptionItem": {
      "title": "Item",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "groupName": {
          "type": "string"
        },
        "itemId": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "ItemPriceData": {
      "title": "ItemPriceData",
      "type": "object",
      "required": [
        "itemId",
        "price"
      ],
      "properties": {
        "itemId": {
          "type": "integer",
          "format": "int64"
        },
        "price": {
          "type": "number",
          "format": "int64"
        },
        "priceListId": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "Order": {
      "title": "Order",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "createDate": {
          "type": "string",
          "format": "date"
        },
        "giftMessage": {
          "type": "string"
        },
        "options": {
          "type": "string"
        },
        "paymentInfo": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "totalPrice": {
          "type": "number",
          "format": "int64"
        },
        "userId": {
          "type": "integer",
          "format": "int64"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderItem"
          }
        }
      }
    },
    "OrderItem": {
      "title": "OrderItem",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "itemId": {
          "type": "integer",
          "format": "int64"
        },
        "orderId": {
          "type": "integer",
          "format": "int64"
        },
        "fulfillmentType": {
          "type": "string"
        },
        "options": {
          "type": "string"
        },
        "photoCustomization": {
          "type": "string"
        },
        "price": {
          "type": "number",
          "format": "int64"
        },
        "quantity": {
          "type": "integer",
          "format": "int64"
        },
        "shippingAddressId": {
          "type": "integer",
          "format": "int64"
        },
        "status": {
          "type": "string"
        },
        "stockLocationId": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SalesChannel": {
      "title": "SalesChannel",
      "type": "object",
      "required": [
        "name",
        "displayName"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "catalogId": {
          "type": "integer",
          "format": "int64"
        },
        "priceListId": {
          "type": "integer",
          "format": "int64"
        },
        "allowPickup": {
          "type": "boolean",
          "default": false
        },
        "allowShip": {
          "type": "boolean",
          "default": false
        },
        "web": {
          "type": "boolean",
          "default": true
        },
        "store": {
          "type": "boolean",
          "default": false
        },
        "displayName": {
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "default": false
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "subdomain": {
          "type": "string"
        }
      }
    },
    "User": {
      "title": "User",
      "type": "object",
      "required": [
        "email"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "email": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "CreateUser": {
      "title": "CreateUser",
      "type": "object",
      "required": [
        "email",
        "password"
      ],
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Catalog": {
      "title": "Catalog",
      "type": "object",
      "required": [
        "name",
        "description"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      }
    },
    "CreatePriceList": {
      "title": "CreatePriceList",
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "PriceList": {
      "title": "PriceList",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PriceListItem"
          }
        }
      }
    },
    "PriceListItem": {
      "title": "PriceListItem",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "productId": {
          "type": "integer",
          "format": "int64"
        },
        "sku": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "defaultPrice": {
          "type": "number",
          "format": "int64"
        },
        "price": {
          "type": "number",
          "format": "int64"
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "The http statues code."
        },
        "code": {
          "type": "string",
          "description": "The error code that refers the error type."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      }
    },
    "LoginParams": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "account profile email address"
        },
        "password": {
          "type": "string",
          "description": "account password"
        }
      }
    },
    "PaginationMeta": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "description": "The number of rows returned. Default name is count. Enabled by default.",
          "default": 20
        },
        "totalCount": {
          "type": "integer",
          "description": "The total numbers of rows available. Default name is totalCount. Enabled by default.",
          "default": 100
        },
        "pageCount": {
          "type": "integer",
          "description": "The total number of pages available. Default name is pageCount, enabled by default.",
          "default": 5
        },
        "self": {
          "type": "string",
          "description": "The link to the requested page. Default name is self, enabled by default.",
          "default": "http://resource.url?page=2"
        },
        "previous": {
          "type": "string",
          "description": "The link to the previous page. Default name is previous, enabled by default. null if no previous page is available.",
          "default": "http://resource.url?page=1"
        },
        "next": {
          "type": "string",
          "description": "Same than previous but with next page.",
          "default": "http://resource.url?page=3"
        },
        "first": {
          "type": "string",
          "description": "Same than previous but with first page.",
          "default": "http://resource.url?page=1"
        },
        "last": {
          "type": "string",
          "description": "Same than previous but with last page.",
          "default": "http://resource.url?page=5"
        },
        "page": {
          "type": "integer",
          "description": "The page number requested. Default name is page, disabled by default.",
          "default": 2
        },
        "limit": {
          "type": "integer",
          "description": "The limit requested. Default name is limit, disabled by default.",
          "default": 20
        }
      }
    }
  }
}
